body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

main{
   width: 75%;
   margin: 0;
   padding: 0; 
}

header img {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 60px;
    color: red;
}

nav {
    background-color: dimgray;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    opacity: 0.7;
}

nav ul{
    list-style-type: none;
    padding: 5px;
    margin: 0;
    display: flex;
}

nav a{
    text-decoration: none;
    color: silver;
    padding: 5px 10px;
    text-align: center;
    display: block;
}

nav a:hover{
    color: red;
    font-weight: bold;
}

main {
    width: 70%;
    float: left;
    padding: 20px;
}

article {
    background-color: dimgray;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
}

article h1{
    background-color: black;
    color: white;
    padding: 5px;
    position: relative;
    text-align: center;
    text-shadow: 4px 4px gray;
}

article h2 {
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    left: 20px;
    text-align: center;
    text-shadow: 4px 4px gray;
}

aside {
    width: 20%;
    float: right;
    position: sticky;
    background-color: dimgray;
    border-radius: 20px;
}

aside p, h3{
    color: white;
    padding-left: 5%;
}

#galerija{
    background-color: dimgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galerija img{
     border-radius: 25px;
     transition: 2s;
    padding-left: 80px;
    padding-bottom: 20px;
}

#galerija img:hover{
    opacity: 0.5;
}

footer {
    background-color: dimgray;
    padding: 20px;
    color: white;
    clear: both;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    
    main {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    
    nav{
        position: static;
    }
    
    nav ul{
        flex-direction: column;
        width: 100%;
    }
    
    aside {
        position: static;
        float: none;
        width: 90%;
        margin: -6% auto 0 auto;
    }
}